# THIS IS AN EXAMPLE; DO NOT COMMIT SENSITIVE INFO TO GIT

# RENAME THIS TO terraform.auto.tfvars AND FILL IN YOUR PROXMOX DETAILS
# Proxmox API connection details (supply via env vars or .auto.tfvars)
pm_api_token_id     = "terraform@pve"                     # your API token ID
pm_api_token_secret = "****" # your API token secret

# VM deployment defaults
target_node = "proxmox"               # your Proxmox node name (check via GUI or 'pvesm status')
vm_template = "ubuntu-cloud-template" # your cloud-init template name; Can be anything

host_address_prefix = "192.168.1" # IP prefix for VMs; Which subnet are you using for your homelab? E.g. "192.168.1" or "10.0.0"

pihole_password = "Strongpass" # Set a strong password for Pi-hole admin interface

nextcloud_db_password    = "dbsecret"
nextcloud_admin_user     = "admin"
nextcloud_admin_password = "adminsecret"
